
body,
html {
  width: 100%;
  height: 100%; 
}

body {
  font-family: 'Montserrat', sans-serif;
}

hr {
  max-width: 65px;
  border-width: 3px;
  border-color: #F05F44; 
}

.faded {
  color: rgba(255, 255, 255, 0.8); 
}

header.startup {
  background-position: center;
  /*background-image: url("header.jpg");*/
  background-size: cover;
  height: 100%;
}

header.startup hr {
  margin-top: 200px;
  margin-bottom: 30px; 
}

header.startup h1 {
  font-size: 2rem; 
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 300px;
  font-family: 'Montserrat', sans-serif;
}

.btn-xl {
  padding: 1rem 2rem; 
}

.btn-primary {
  background-color: #F05F44;
  border-color: #F05F44; }

.btn-primary:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 5px;
  cursor: pointer;
}
video { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
background: url('http://thenewcode.com/assets/videos/zsystems-alt.webm') no-repeat;
background-size: cover;
transition: 1s opacity;
}
/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: auto;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  border-radius: 20px;
  position: relative;
}


/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-linkedin {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}
/*info*/
.contact-info {
color: green;
text-transform: uppercase;
width: auto;
letter-spacing: 5px;
word-spacing: 10px;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
font-weight: bolder;
}
  